In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel("C:/Users/yogin/OneDrive/Documents/SLC/SEM-2/PROGRAMMING/Final Assignment/Tivo Survey Case Data(1)(1)(1).xlsx")

In [4]:
df.head() # importing the data

,ID,Gender,Marital Status,Work Status,Education,Annual Income (x1000 $),Age,Location,Purchasing Decision-maker,Purchasing Location,Monthly Electronics Spend,Monthly Household Spend,Purchasing Frequency (every x months),Technology Adoption,TV Viewing (hours/day),Favorite feature
0,1,male,married,professional,none,49,30,Florida,family,mass-consumer electronics,35,150,13,late,2,saving favorite shows to watch as a family
1,2,male,single,none,none,46,36,Alabama,single,mass-consumer electronics,35,163,26,late,10,saving favorite shows to watch as a family
2,3,male,married,professional,BA,58,66,Massachusetts,family,specialty stores,64,103,13,early,0,time shifting
3,4,male,married,none,PhD,51,78,New York,family,mass-consumer electronics,33,154,22,late,5,saving favorite shows to watch as a family
4,5,female,single,none,none,46,52,Montana,single,mass-consumer electronics,45,161,47,late,2,saving favorite shows to watch as a family

Q2(a)-Insert a column labeled “Annual spending on electronics” that calculates the
annual spending on electronics.

In [5]:
df['Annual spending on electronics'] = df['Monthly Electronics Spend'] * 12

In [6]:
df.head()

,ID,Gender,Marital Status,Work Status,Education,Annual Income (x1000 $),Age,Location,Purchasing Decision-maker,Purchasing Location,Monthly Electronics Spend,Monthly Household Spend,Purchasing Frequency (every x months),Technology Adoption,TV Viewing (hours/day),Favorite feature,Annual spending on electronics
0,1,male,married,professional,none,49,30,Florida,family,mass-consumer electronics,35,150,13,late,2,saving favorite shows to watch as a family,420
1,2,male,single,none,none,46,36,Alabama,single,mass-consumer electronics,35,163,26,late,10,saving favorite shows to watch as a family,420
2,3,male,married,professional,BA,58,66,Massachusetts,family,specialty stores,64,103,13,early,0,time shifting,768
3,4,male,married,none,PhD,51,78,New York,family,mass-consumer electronics,33,154,22,late,5,saving favorite shows to watch as a family,396
4,5,female,single,none,none,46,52,Montana,single,mass-consumer electronics,45,161,47,late,2,saving favorite shows to watch as a family,540

Q2(b) Insert another column labeled “Spending as % of income” that calculates annual spending on electronics as a percentage of annual income.

In [7]:
df['Spending as % of income'] = round((df['Annual spending on electronics'] / (df['Annual Income (x1000 $)']*1000)) * 100,2)

In [8]:
df.head()

,ID,Gender,Marital Status,Work Status,Education,Annual Income (x1000 $),Age,Location,Purchasing Decision-maker,Purchasing Location,Monthly Electronics Spend,Monthly Household Spend,Purchasing Frequency (every x months),Technology Adoption,TV Viewing (hours/day),Favorite feature,Annual spending on electronics,Spending as % of income
0,1,male,married,professional,none,49,30,Florida,family,mass-consumer electronics,35,150,13,late,2,saving favorite shows to watch as a family,420,0.86
1,2,male,single,none,none,46,36,Alabama,single,mass-consumer electronics,35,163,26,late,10,saving favorite shows to watch as a family,420,0.91
2,3,male,married,professional,BA,58,66,Massachusetts,family,specialty stores,64,103,13,early,0,time shifting,768,1.32
3,4,male,married,none,PhD,51,78,New York,family,mass-consumer electronics,33,154,22,late,5,saving favorite shows to watch as a family,396,0.78
4,5,female,single,none,none,46,52,Montana,single,mass-consumer electronics,45,161,47,late,2,saving favorite shows to watch as a family,540,1.17

Q3.	Create a table for each attribute (e.g., Gender) and record the percentage of responses for each answer (e.g., % of respondents answering "male" and % answering “female”).

In [9]:
gender = df['Gender'].value_counts(normalize = True)*100
gender

male      53.5
female    46.5
Name: Gender, dtype: float64

Q4.	Create a correlation matrix for the data set and describe the relationship you observe between the following variables:

a.	Age vs. Purchasing Frequency

In [10]:
correlation_matrix = round(df.corr(),4)
correlation_matrix

C:\Users\yogin\AppData\Local\Temp\ipykernel_28048\1216383806.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation_matrix = round(df.corr(),4)

,ID,Annual Income (x1000 $),Age,Monthly Electronics Spend,Monthly Household Spend,Purchasing Frequency (every x months),TV Viewing (hours/day),Annual spending on electronics,Spending as % of income
ID,1.0000,0.0107,-0.0415,-0.0274,-0.0549,0.0245,-0.0104,-0.0274,-0.0089
Annual Income (x1000 $),0.0107,1.0000,0.1325,0.3610,0.2572,-0.1264,0.0843,0.3610,0.0404
Age,-0.0415,0.1325,1.0000,-0.0449,-0.0126,-0.0013,-0.0360,-0.0449,-0.3028
Monthly Electronics Spend,-0.0274,0.3610,-0.0449,1.0000,0.8038,-0.2779,0.2472,1.0000,0.8200
Monthly Household Spend,-0.0549,0.2572,-0.0126,0.8038,1.0000,-0.2338,0.1916,0.8038,0.6520
Purchasing Frequency (every x months),0.0245,-0.1264,-0.0013,-0.2779,-0.2338,1.0000,0.1635,-0.2779,-0.1833
TV Viewing (hours/day),-0.0104,0.0843,-0.0360,0.2472,0.1916,0.1635,1.0000,0.2472,0.2358
Annual spending on electronics,-0.0274,0.3610,-0.0449,1.0000,0.8038,-0.2779,0.2472,1.0000,0.8200
Spending as % of income,-0.0089,0.0404,-0.3028,0.8200,0.6520,-0.1833,0.2358,0.8200,1.0000

In [11]:
correlation_Age_Purchasing = correlation_matrix.loc['Age', 'Purchasing Frequency (every x months)']
correlation_Age_Purchasing

-0.0013

Ans:- There is negative correlation between Age & purchase frequency

Q4(b) Age vs. TV Viewing

In [12]:
correlation_age_TV = correlation_matrix.loc['Age', 'TV Viewing (hours/day)']
correlation_age_TV

-0.036

Ans:- There is negative correlation between Age & TV viewing

Q4(c)Annual Income vs. TV Viewing

In [13]:
correlation_Income_TV = correlation_matrix.loc['Annual Income (x1000 $)', 'TV Viewing (hours/day)']
correlation_Income_TV

0.0843

Ans:- There is positive correlation between Income & TV viewing

Q4(d) Monthly Electronic Spending vs Monthly Household Spending

In [14]:
correlation_Elec_Household = correlation_matrix.loc['Monthly Electronics Spend', 'Monthly Household Spend']
correlation_Elec_Household

0.8038

Ans:- There is positive correlation between Income & TV viewing

Q4(e) e.	Are there any other relationships from the matrix are any high enough to make one of the attributes redundant? In other words, you can explain any of the attributes by simply saying "it behaves like attribute X?”

## "annual spending as a percentage of income" has a high positive correlation with "monthly electronics spend," of 0.82 it suggests that as individuals or households allocate a larger proportion of their annual income to spending, a significant portion of that spending is directed towards electronics.

Q5(a)How many married men who are early adopters have monthly electronics spend high enough that they can afford to purchase a TiVo for $499 and still be able to spend more on electronics in the next two years?

In [15]:
filtered_df = df[(df['Gender'] == 'male') & (df['Marital Status'] == 'married') & (df['Technology Adoption'] == 'early')]
filtered_df

,ID,Gender,Marital Status,Work Status,Education,Annual Income (x1000 $),Age,Location,Purchasing Decision-maker,Purchasing Location,Monthly Electronics Spend,Monthly Household Spend,Purchasing Frequency (every x months),Technology Adoption,TV Viewing (hours/day),Favorite feature,Annual spending on electronics,Spending as % of income
2,3,male,married,professional,BA,58,66,Massachusetts,family,specialty stores,64,103,13,early,0,time shifting,768,1.32
6,7,male,married,professional,none,33,62,California,single,discount,18,40,41,early,0,cool gadget,216,0.65
7,8,male,married,none,none,29,30,New Hampshire,single,retail,23,75,9,early,1,schedule control,276,0.95
8,9,male,married,professional,none,57,60,Massachusetts,family,specialty stores,74,358,1,early,0,schedule control,888,1.56
12,13,male,married,professional,BA,64,80,New Jersey,family,specialty stores,53,257,10,early,1,cool gadget,636,0.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,991,male,married,professional,none,34,42,Hawaii,family,retail,20,47,26,early,2,schedule control,240,0.71
993,994,male,married,professional,none,31,79,New Hampshire,single,discount,12,54,38,early,1,time shifting,144,0.46
994,995,male,married,professional,BA,53,38,Maryland,family,specialty stores,40,123,11,early,1,cool gadget,480,0.91
996,997,male,married,professional,MA,32,73,Maine,single,retail,15,73,21,early,0,schedule control,180,0.56
997,998,male,married,professional,none,28,65,Georgia,single,discount,10,29,11,early,1,schedule control,120,0.43

In [16]:
filtered_df['Total Electronics Spend Next 2 Years'] = filtered_df['Monthly Electronics Spend'] * 24
filtered_df

C:\Users\yogin\AppData\Local\Temp\ipykernel_28048\1992747699.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Total Electronics Spend Next 2 Years'] = filtered_df['Monthly Electronics Spend'] * 24

,ID,Gender,Marital Status,Work Status,Education,Annual Income (x1000 $),Age,Location,Purchasing Decision-maker,Purchasing Location,Monthly Electronics Spend,Monthly Household Spend,Purchasing Frequency (every x months),Technology Adoption,TV Viewing (hours/day),Favorite feature,Annual spending on electronics,Spending as % of income,Total Electronics Spend Next 2 Years
2,3,male,married,professional,BA,58,66,Massachusetts,family,specialty stores,64,103,13,early,0,time shifting,768,1.32,1536
6,7,male,married,professional,none,33,62,California,single,discount,18,40,41,early,0,cool gadget,216,0.65,432
7,8,male,married,none,none,29,30,New Hampshire,single,retail,23,75,9,early,1,schedule control,276,0.95,552
8,9,male,married,professional,none,57,60,Massachusetts,family,specialty stores,74,358,1,early,0,schedule control,888,1.56,1776
12,13,male,married,professional,BA,64,80,New Jersey,family,specialty stores,53,257,10,early,1,cool gadget,636,0.99,1272
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,991,male,married,professional,none,34,42,Hawaii,family,retail,20,47,26,early,2,schedule control,240,0.71,480
993,994,male,married,professional,none,31,79,New Hampshire,single,discount,12,54,38,early,1,time shifting,144,0.46,288
994,995,male,married,professional,BA,53,38,Maryland,family,specialty stores,40,123,11,early,1,cool gadget,480,0.91,960
996,997,male,married,professional,MA,32,73,Maine,single,retail,15,73,21,early,0,schedule control,180,0.56,360
997,998,male,married,professional,none,28,65,Georgia,single,discount,10,29,11,early,1,schedule control,120,0.43,240

In [17]:
can_afford_tivo = len(filtered_df[filtered_df['Total Electronics Spend Next 2 Years'] > 499])
can_afford_tivo

134

Ans 134 married male with  early adopter to tech are having electricity expenses for 2 years more than 499

Q5(b)How many women with an education level of MA or PhD are making purchasing decisions for electronics without discussing them with a spouse, either because they are single or because they are making purchasing decisions without the involvement of their spouses?

In [18]:
filtered_df_f = df[(df['Gender'] == 'female') & (df['Education'].isin(['MA', 'PhD']))]

In [19]:
independent = len(filtered_df_f[(filtered_df_f['Marital Status'] == 'single') | (filtered_df_f['Purchasing Decision-maker'] == 'single')])
independent

56

Ans total 56 female

Q5(c)How many early adopters purchase electronics at least once every year, and do so in stores that specialize in electronics?

In [20]:
filtered_df_adp = df[df['Technology Adoption'] == 'early']

In [21]:
frequent_shoppers = filtered_df_adp[(filtered_df_adp['Purchasing Frequency (every x months)'] >= 12) & (filtered_df_adp['Purchasing Location'] == 'specialty stores')]
frequent_shoppers

,ID,Gender,Marital Status,Work Status,Education,Annual Income (x1000 $),Age,Location,Purchasing Decision-maker,Purchasing Location,Monthly Electronics Spend,Monthly Household Spend,Purchasing Frequency (every x months),Technology Adoption,TV Viewing (hours/day),Favorite feature,Annual spending on electronics,Spending as % of income
2,3,male,married,professional,BA,58,66,Massachusetts,family,specialty stores,64,103,13,early,0,time shifting,768,1.32
41,42,female,married,professional,BA,54,43,Vermont,family,specialty stores,44,114,12,early,0,schedule control,528,0.98
46,47,female,married,professional,BA,59,63,Vermont,family,specialty stores,26,74,15,early,2,cool gadget,312,0.53
72,73,female,married,professional,none,53,65,Tennessee,family,specialty stores,78,334,14,early,2,time shifting,936,1.77
125,126,male,married,professional,BA,55,46,Hawaii,family,specialty stores,50,225,13,early,2,schedule control,600,1.09
138,139,male,married,professional,none,49,22,Washington,family,specialty stores,51,166,13,early,2,time shifting,612,1.25
203,204,male,married,professional,MA,55,50,Tennessee,family,specialty stores,57,182,15,early,1,time shifting,684,1.24
207,208,male,married,professional,MA,45,24,Vermont,family,specialty stores,65,211,15,early,1,cool gadget,780,1.73
224,225,male,married,professional,MA,58,67,Hawaii,family,specialty stores,74,343,12,early,2,cool gadget,888,1.53
242,243,female,married,professional,BA,55,23,New Hampshire,family,specialty stores,61,258,16,early,1,time shifting,732,1.33
244,245,male,single,professional,BA,57,68,New York,single,specialty stores,66,312,14,early,1,time shifting,792,1.39
246,247,female,married,professional,MA,55,38,Idaho,family,specialty stores,38,115,16,early,1,schedule control,456,0.83
253,254,female,single,professional,MA,55,33,North Dakota,single,specialty stores,82,165,15,early,1,time shifting,984,1.79
293,294,female,single,professional,PhD,52,25,Virginia,single,specialty stores,25,31,14,early,1,schedule control,300,0.58
305,306,female,married,professional,MA,55,61,New Hampshire,family,specialty stores,52,77,12,early,2,time shifting,624,1.13
334,335,female,single,professional,BA,53,39,Mississippi,single,specialty stores,39,69,14,early,1,cool gadget,468,0.88
342,343,male,married,professional,none,60,80,New York,family,specialty stores,72,94,14,early,1,schedule control,864,1.44
348,349,male,single,professional,none,54,71,New Hampshire,single,specialty stores,60,164,13,early,1,time shifting,720,1.33
361,362,male,married,professional,MA,45,66,Idaho,family,specialty stores,55,181,14,early,2,time shifting,660,1.47
367,368,female,married,professional,MA,61,48,Connecticut,family,specialty stores,45,222,12,early,2,time shifting,540,0.89
385,386,male,married,professional,BA,54,43,Illinois,family,specialty stores,71,351,12,early,2,schedule control,852,1.58
393,394,male,married,professional,BA,57,62,California,family,specialty stores,60,128,15,early,1,cool gadget,720,1.26
399,400,male,married,professional,MA,58,64,Pennsylvania,family,specialty stores,76,137,12,early,0,cool gadget,912,1.57
410,411,female,single,professional,BA,60,50,West Virginia,single,specialty stores,65,207,12,early,2,time shifting,780,1.30
440,441,male,married,professional,BA,730,80,Nevada,family,specialty stores,65,137,14,early,1,schedule control,780,0.11
446,447,male,married,professional,BA,54,45,New Hampshire,family,specialty stores,59,221,12,early,1,schedule control,708,1.31
469,470,male,married,professional,BA,59,69,Tennessee,family,specialty stores,61,286,14,early,2,cool gadget,732,1.24
478,479,male,married,professional,BA,53,40,California,family,specialty stores,65,180,14,early,2,cool gadget,780,1.47
496,497,female,married,professional,BA,52,42,Connecticut,family,specialty stores,57,250,15,early,1,cool gadget,684,1.32
499,500,male,married,professional,MA,55,46,Arizona,family,specialty stores,72,252,14,early,1,schedule control,864,1.57
507,508,male,married,professional,none,57,59,New Hampshire,family,specialty stores,61,221,14,early,1,schedule control,732,1.28
512,513,male,married,professional,none,49,24,Tennessee,family,specialty stores,49,158,16,early,2,cool gadget,588,1.20
561,562,male,married,professional,BA,57,61,Georgia,family,specialty stores,69,192,12,early,1,time shifting,828,1.45
564,565,male,single,professional,none,54,64,California,single,specialty stores,26,107,13,early,2,cool gadget,312,0.58
596,597,male,married,professional,BA,59,70,Maryland,family,specialty stores,66,122,12,early,1,cool gadget,792,1.34
619,620,female,married,professional,BA,56,29,Arizona,family,specialty stores,51,225,15,early,0,cool gadget,612,1.09
636,637,male,married,professional,none,60,79,Pennsylvania,family,specialty stores,73,326,13,early,0,time shifting,876,1.46
639,640,female,married,professional,BA,51,63,Vermont,family,specialty stores,45,87,15,early,0,schedule control,540,1.06
674,675,male,married,professional,BA,60,76,Delaware,family,specialty stores,55,97,12,early,2,time shifting,660,1.10
772,773,female,single,professional,BA,54,51,Missouri,single,specialty stores,54,70,15,early,0,time shifting,648,1.20
783,784,male,married,professional,BA,57,61,Delaware,family,specialty stores,60,81,13,early,2,schedule control,720,1.26
785,786,male,married,professional,MA,50,26,Georgia,family,specialty stores,49,119,15,early,0,cool gadget,588,1.18
797,798,male,single,professional,BA,55,72,California,single,specialty stores,59,86,15,early,2,schedule control,708,1.29
831,832,male,married,professional,BA,55,51,Washington,family,specialty stores,70,119,13,early,0,cool gadget,840,1.53
834,835,male,single,professional,PhD,54,47,Georgia,single,specialty stores,46,104,15,early,1,cool gadget,552,1.02
836,837,male,single,professional,BA,50,76,Maryland,single,specialty stores,57,181,12,early,1,cool gadget,684,1.37
858,859,male,married,professional,MA,47,22,Washington,family,specialty stores,35,76,12,early,2,cool gadget,420,0.89
884,885,male,single,professional,BA,52,45,Pennsylvania,single,specialty stores,62,145,15,early,2,time shifting,744,1.43
899,900,male,single,professional,BA,52,55,Massachusetts,single,specialty stores,47,166,15,early,1,schedule control,564,1.08
902,903,female,single,professional,BA,59,50,Alabama,single,specialty stores,80,169,13,early,2,cool gadget,960,1.63
941,942,female,married,professional,MA,55,37,Illinois,family,specialty stores,77,308,14,early,1,schedule control,924,1.68

In [22]:
len(frequent_shoppers)

51

Ans 51 customers

Q5(d)	How many seniors (over the age of 65) spend more than six hours a day watching TV? What is their income range? What is their average annual income?

In [23]:
seniors_watching_tv = df[(df['Age'] > 65) & (df['TV Viewing (hours/day)'] > 6)]
seniors_watching_tv.head()

,ID,Gender,Marital Status,Work Status,Education,Annual Income (x1000 $),Age,Location,Purchasing Decision-maker,Purchasing Location,Monthly Electronics Spend,Monthly Household Spend,Purchasing Frequency (every x months),Technology Adoption,TV Viewing (hours/day),Favorite feature,Annual spending on electronics,Spending as % of income
20,21,female,married,none,MA,50,75,Colorado,family,mass-consumer electronics,47,172,17,late,8,saving favorite shows to watch as a family,564,1.13
74,75,female,married,none,none,55,73,Delaware,family,mass-consumer electronics,44,208,40,late,7,saving favorite shows to watch as a family,528,0.96
101,102,female,single,professional,MA,46,79,Missouri,single,mass-consumer electronics,41,173,43,late,13,saving favorite shows to watch as a family,492,1.07
115,116,female,married,none,none,54,73,Tennessee,family,mass-consumer electronics,51,221,37,late,11,saving favorite shows to watch as a family,612,1.13
157,158,female,married,professional,PhD,51,78,Arizona,family,mass-consumer electronics,35,162,13,late,12,saving favorite shows to watch as a family,420,0.82

In [24]:

income_min = seniors_watching_tv['Annual Income (x1000 $)'].min()
income_min

41

In [25]:
income_max = seniors_watching_tv['Annual Income (x1000 $)'].max()
income_max

55

In [26]:
average_income = seniors_watching_tv['Annual Income (x1000 $)'].mean()
average_income

48.6

In [27]:
len(seniors_watching_tv)

20

Q6.	Create a gropuby for each of the following variables listed below that will show the variable and annual spend in the format of “.describe()” function. 
a.	Gender with Monthly Electronic Spend
b.	Martial Status with Monthly Electronic Spend
c.	Education with Monthly Electronic Spend

Q6(a)	Gender with Monthly Electronic Spend

In [28]:
gender_group_by = df.groupby('Gender')['Monthly Electronics Spend'].describe()
gender_group_by

        count       mean        std  min   25%   50%   75%   max
Gender
female  465.0  28.776344  15.120261  7.0  17.0  23.0  38.0  83.0
male    535.0  32.861682  18.368460  9.0  17.0  30.0  45.0  88.0

Q6(b) Martial Status with Monthly Electronic Spend

In [29]:
marital_status_group_by = df.groupby('Marital Status')['Monthly Electronics Spend'].describe()
marital_status_group_by

                count       mean        std  min   25%   50%   75%   max
Marital Status
married         720.0  30.704167  17.491424  9.0  17.0  21.0  44.0  85.0
single          280.0  31.625000  15.868594  7.0  18.0  32.0  36.0  88.0

Q6(c)Education with Monthly Electronic Spend

In [30]:
education_group_edu = df.groupby('Education')['Monthly Electronics Spend'].describe()
education_group_edu

           count       mean        std   min    25%   50%   75%   max
Education
BA         260.0  40.242308  18.711149  12.0  20.00  39.5  54.0  85.0
MA         124.0  40.370968  14.678931  13.0  32.00  38.0  47.0  88.0
PhD        110.0  38.290909  12.102275  12.0  32.25  37.0  43.0  85.0
none       506.0  22.294466  12.583749   7.0  15.00  18.0  22.0  83.0

Q7 7.	Based on your analysis of the dataset, who do you believe the ideal customer group  who marketing should focus their attention on?

In [31]:
average_income = df['Annual Income (x1000 $)'].mean()

In [32]:
filtered_df_analysis = df[(df['Annual Income (x1000 $)'] > average_income) &
                 (df['Purchasing Frequency (every x months)'] > 12) &
                 (df['Technology Adoption'] == 'early') &
                 (df['Age'] < 50)]

In [33]:
filtered_df_analysis

,ID,Gender,Marital Status,Work Status,Education,Annual Income (x1000 $),Age,Location,Purchasing Decision-maker,Purchasing Location,Monthly Electronics Spend,Monthly Household Spend,Purchasing Frequency (every x months),Technology Adoption,TV Viewing (hours/day),Favorite feature,Annual spending on electronics,Spending as % of income
125,126,male,married,professional,BA,55,46,Hawaii,family,specialty stores,50,225,13,early,2,schedule control,600,1.09
138,139,male,married,professional,none,49,22,Washington,family,specialty stores,51,166,13,early,2,time shifting,612,1.25
207,208,male,married,professional,MA,45,24,Vermont,family,specialty stores,65,211,15,early,1,cool gadget,780,1.73
242,243,female,married,professional,BA,55,23,New Hampshire,family,specialty stores,61,258,16,early,1,time shifting,732,1.33
246,247,female,married,professional,MA,55,38,Idaho,family,specialty stores,38,115,16,early,1,schedule control,456,0.83
253,254,female,single,professional,MA,55,33,North Dakota,single,specialty stores,82,165,15,early,1,time shifting,984,1.79
293,294,female,single,professional,PhD,52,25,Virginia,single,specialty stores,25,31,14,early,1,schedule control,300,0.58
334,335,female,single,professional,BA,53,39,Mississippi,single,specialty stores,39,69,14,early,1,cool gadget,468,0.88
478,479,male,married,professional,BA,53,40,California,family,specialty stores,65,180,14,early,2,cool gadget,780,1.47
496,497,female,married,professional,BA,52,42,Connecticut,family,specialty stores,57,250,15,early,1,cool gadget,684,1.32
499,500,male,married,professional,MA,55,46,Arizona,family,specialty stores,72,252,14,early,1,schedule control,864,1.57
512,513,male,married,professional,none,49,24,Tennessee,family,specialty stores,49,158,16,early,2,cool gadget,588,1.20
619,620,female,married,professional,BA,56,29,Arizona,family,specialty stores,51,225,15,early,0,cool gadget,612,1.09
785,786,male,married,professional,MA,50,26,Georgia,family,specialty stores,49,119,15,early,0,cool gadget,588,1.18
834,835,male,single,professional,PhD,54,47,Georgia,single,specialty stores,46,104,15,early,1,cool gadget,552,1.02
884,885,male,single,professional,BA,52,45,Pennsylvania,single,specialty stores,62,145,15,early,2,time shifting,744,1.43
941,942,female,married,professional,MA,55,37,Illinois,family,specialty stores,77,308,14,early,1,schedule control,924,1.68

To focus on a specific group of customers based on the criteria  mentioned above,  we can do so using data filtering techniques to get more business. Here's a general approach to achieve this:

Filter by Income: Identify customers whose income is greater than the average income of all customers.

Filter by Purchase Frequency: Customers who have a purchase frequency of more than 12.

Filter by Technology Adoption: Early adopters of technology.

Filter by Age: Finally, from this group, we will select only those customers who are less than 50 years old.